/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-slider .thumb{
   -fx-background-color:red;
}
.jfx-slider .track{
	-fx-background-color:red;
}
.jfx-slider .animated-thumb{
	-fx-background-color:red;
}
.jfx-slider .colored-track{
	-fx-background-color:red;
}
.root { 
	-fx-background-color: transparent;
}
.mylistview{
	-fx-background-color: #0C1028;	
}
.list-view .list-cell:hover {
    -fx-background-color: #434343;
}
.list-view .list-cell{
	-fx-background-color: #0C1028;
}
.list-view .label {
    -fx-text-fill: white;
}
.list-view .list-cell:selected {
    -fx-background-color: #434343;
}
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track{
	-fx-background-color: #0C1028;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}
.mylistview .scroll-bar:horizontal .increment-button ,
.mylistview .scroll-bar:horizontal .decrement-button {
	-fx-background-color:#0C1028;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}
.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
	-fx-background-color:#0C1028;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}
.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow{
	-fx-shape: " ";	
	-fx-padding:0;
	-fx-background-color:#0C1028;
}
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
	-fx-background-color: red;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
.mylistview .corner{
	-fx-background-color:#0C1028;
}


