/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-slider .thumb{
   -fx-background-color:red;
}
.jfx-slider .track{
	-fx-background-color:red;
}
.jfx-slider .animated-thumb{
	-fx-background-color:red;
}
.jfx-slider .colored-track{
	-fx-background-color:red;
}
.root { 
	-fx-background-color: transparent;
}
.list-view{
	-fx-background-color: #0C1028;
}

